.pomodoro{
    width: 50%;
    height: 50vh;
    border-radius: 15px;
    margin: auto;
    margin-top: 25vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}